@charset "UTF-8";

/* web font
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Pacifico', cursive;
*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #1b2021;
    background-color: #fcf4d8;
}

::selection {
    background-color: #d36c12;
    color: #fcf4d8;
}

/*header*/
header {
    background-color: #fcf4d8;
    border-bottom: 2px solid #d36c12;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
}

.logo {
    margin: 10px auto;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    position: relative;
}

nav>ul>li>a {
    display: block;
    width: 100px;
    text-align: center;
    padding: 38px 50px;
    font-size: 18px;
    font-weight: 700;
    color: #d36c12;
}

nav>ul>li>a:hover {
    color: rgba(211, 108, 18, 0.5);
}

nav>ul>li:nth-child(1) {
    margin-left: 120px;
}

.orange {
    display: block;
    background-color: #d36c12;
    height: 10px;
}

.link {
    display: flex;
    justify-content: flex-start;
    margin-top: 37.5px;
}

.link>li>a {
    display: inline-block;
    width: 30px;
    height: 25px;
}

.link>li>a:hover {
    opacity: 50%;
}

.cart {
    margin: 0 20px;
}

.sub {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #fcf4d8;
    text-align: center;
    z-index: 10;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0 0 150px 150px;
    border: 2px solid #d36c12;
    padding-bottom: 50px;
    display: none;
}

.sub li {
    padding: 10px 0;
}

.sub li:nth-child(2) {
    padding-top: 40px;
}

.sub>li>a {
    position: relative;
}

.solid {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #d36c12;
    transition: all 0.5s;
}

.sub>li>a:hover .solid {
    width: 100%;
    transition: all 0.5s;
}

.sub>li>a:hover {
    color: #d36c12;
}

/*review*/
#review {
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
}

.title1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #d36c12;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0;
    padding-bottom: 50px;
}

#review dl {
    width: 350px;
    height: 550px;
    background-color: #fff;
    border-radius: 175px 175px 20px 20px;
    margin: 0 30px;
    position: relative;
    border: 2px solid #d36c12;
}

#review dt img {
    border-radius: 175px 175px 0 0;
}

#review dd {
    padding: 30px;
    box-sizing: border-box;
}

#review dd h3 {
    font-size: 20px;
    color: #d36c12;
}

.arrow_box {
    position: relative;
}

.review_prev {
    position: absolute;
    left: -50px;
}

.review_next {
    position: absolute;
    right: -40px;
}

.nickname {
    color: #d36c12;
    padding: 10px 0;
}

.more {
    display: inline-block;
    background: url(../images/more_arrow.png) no-repeat 80% center;
    padding-right: 30px;
    font-weight: 900;
    color: #d36c12;
    transition: all 0.5s;
    font-size: 15px;

    position: absolute;
    right: 30px;
    bottom: 30px;
}

.more:hover {
    background: url(../images/more_arrow.png) no-repeat right center;
    transition: all 0.5s;
}

.arrow_box {
    position: relative;
}

/*event*/
#event {
    margin: 0 auto;
    padding: 150px 0;
    background-color: #fff;
}

.event_box img {
    width: 600px;
    border-radius: 20px;
}

.event_next:after,
.review_next:after {
    content: url(../images/arrow_next.png);
}

.event_prev:after,
.review_prev:after {
    content: url(../images/arrow_prev.png);
}

.event_next,
.event_prev {
    width: 40px;
    height: 40px;
}

/*notice*/
#notice {
    width: 1320px;
    margin: 0 auto;
    padding: 150px 0;
}

.notice_box {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    border: 3px solid #d36c12;
    border-radius: 200px 200px 20px 20px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

.notice_bg {
    background-color: #d36c12;
    border-radius: 200px 200px 20px 20px;
    width: 1000px;
    height: 700px;
    z-index: -1;
    position: absolute;
    right: -40px;
    bottom: -40px;
}

.notice_title {
    background: url(../images/title_faq.png) no-repeat left top;
    width: 210px;
    height: 132px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    margin: 0 auto;
}

.notice_title h1 {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.notice_title p {
    margin: 0 auto;
    width: 100px;
    color: #fff;
    padding: 2px 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#notice table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 700px;
    border-top: 3px solid #d36c12;
    margin-top: 30px;
}

#notice table tr {
    border-bottom: 1px solid #ccc;
}

#notice table tr th {
    color: #d36c12;
    font-weight: 700;
}

#notice table tr th,
#notice table tr td {
    padding: 10px 0;
}

#notice table tr td:nth-child(1) {
    color: #d36c12;
    text-align: center;
}

.btn2 {
    margin-top: 30px;
    text-align: center;
}

.notice_prev img,
.notice_next img {
    width: 20px;
}

.notice_prev {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

/*faq*/
#faq {
    width: 1320px;
    margin: 0 auto;
    padding: 150px 0;
}

.bg_box {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.bg_box2 {
    background-color: #5A3D2B;
    border-radius: 30px;
    width: 1000px;
    height: 100%;
    z-index: -1;
    position: absolute;
    right: 40px;
    bottom: -5px;
}

.bg_box3 {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 30px;
    width: 1000px;
    z-index: -2;
    padding: 5px;
}

.faq_box {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    border-radius: 30px;
    border: 3px solid #d36c12;
    padding: 80px 50px 50px 50px;
    box-sizing: border-box;
    position: relative;
}

.faq_title {
    background: url(../images/title_faq.png) no-repeat left top;
    width: 210px;
    height: 132px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.faq_title h1 {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.faq_title p {
    margin: 0 auto;
    width: 100px;
    color: #fff;
    padding: 2px 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.notice {
    width: 800px;
    margin: auto;
    background-color: #fcf4d8;
    margin-top: 30px;
}

.title {
    overflow: hidden;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.title:hover {
    background-color: #d36c12;
    color: #fff;
}

.title:hover .plus img {
    content: url(../images/plus_h.png);
}

.plus {
    margin-right: 10px;
}

.text_info {
    padding: 10px 15px;
    background-color: #fff;
    display: none;
}

.turn .title .plus img {
    transform: rotate(45deg);
}

.plus img {
    transition: transform 0.5s;
}

/*footer*/
footer {
    background: url(../images/bg_footer.png) no-repeat center center;
    height: 535px;
    background-size: cover;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding-top: 320px;
    text-align: center;
}

.footer_top {
    width: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sns li a {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.sns li a:hover {
    opacity: 50%;
}

.twitter {
    margin: 0 15px;
}

.footer_text {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.footer_text li {
    padding: 0 20px;
}

.copyright {
    color: #d36c12;
    padding-top: 20px;
}

.top_btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;
    transition: all 0.5s;
}

.top_btn:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}